* {
  font-family: "Creepster", cursive;
}

body {
  padding-top: 85px;
  background-color: black;
}

#table-contents {
  height: 100%;
}

.header {
  font-size: 6rem;
  color: white;
}

#menu {
  width: 221.43px;
}

.link {
  text-decoration: none;
  color: white;
}

a.link:hover {
  animation-name: link-animation;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes link-animation {
  0% {
    color: white;
  }
  50% {
    color: green;
  }
  100% {
    color: white;
  }
}
